ZOOM_CLIENT_ID="CLIENT_ID_HERE"
ZOOM_CLIENT_SECRET="CLIENT_SECRET_HERE"
ZOOM_WEBHOOK_SECRET_TOKEN="SECRET_TOKEN_HERE"

OPENAI_API_KEY=your_openai_api_key

# Zoom webhook port configuration
ZOOM_WEBHOOK_PORT=5000
