ZOOM_CLIENT_ID="CLIENT_ID_HERE"
ZOOM_CLIENT_SECRET="CLIENT_SECRET_HERE"
ZOOM_WEBHOOK_SECRET_TOKEN="SECRET_TOKEN_HERE"

SLACK_BOT_TOKEN=xoxb-your-slack-bot-oauth-token
SLACK_APP_TOKEN=xoxa-your-slack-app-token

OPENAI_API_KEY=your_openai_api_key
